{% extends 'base.html' %}

{% block content %}

{% if error %}
<font size="3" color="red">{{error}}</font>
<br/>
{% endif %}

<h1>Create Restaurant!</h1>

<form method="POST" action="{% url 'create' %}" enctype="multipart/form-data">
{% csrf_token %}
Name:
<br />
<input type="text" name="rname" />
<br />
Cuisine:
<br />
<input type="text" name="cuisine" />
<br />
Location:
<br />
<input type="textbox" name="location" />
<br />
URL:
<br />
<input type="text" name="url" />
<br />
Phone:
<br />
<input type="text" name="phone" />
<br />

<br />
<input class="btn btn-warning" type="submit" value="Create" />
</form>

{% endblock %}
