{% extends 'base.html' %}

{% block content %}

<div class="row pt-2">
  <div class="col-5">
    <a href="{{restaurant.url}}"><h2>{{restaurant.name}}</h2></a>
  </div>
</div>

<div class="row pt-2">
  <div class="col-5">
    <a href="javascript:{document.getElementById('like').submit()}"><button class="btn btn-danger btn-lg">Like! {{restaurant.likes}}</button></a>
  </div>
</div>


<div class="row pt-5">
  <div class="col-9">
    <a href="javascript:{document.getElementById('delete').submit()}"><button class="btn btn-dark btn-lg">Delete</button></a>
  </div>
</div>


<form id="delete" method="POST" action="{% url 'delete' restaurant.id %}">
  {% csrf_token %}
  <input type="hidden">
</form>


<form id="like" method="POST" action="{% url 'like' restaurant.id %}">
  {% csrf_token %}
  <input type="hidden">
</form>

<br />
<h3>Menu</h3>
<br />

{% for serve in serves.all %}
<div class="row pt-2">
  <div class="col-2">
    <a href=""><h4>{{serve.dname}}</h4></a>
  </div>
  <div class="col-2">
    <h4>{{serve.price}}</h4>
  </div>
  <div class="col-2">
    <a href="javascript:{document.getElementById('like_dish{{serve.id}}').submit()}"><button class="btn btn-danger btn-lg">Like! {{serve.likes}}</button></a>
  </div>
</div>

<form id="like_dish{{serve.id}}" method="POST" action="{% url 'like_dish' restaurant.id serve.id %}">
  {% csrf_token %}
  <input type="hidden">
</form>
{% endfor%}
<!-- <p>{{serves}}</p>
<p>{{restaurants}}</p> -->


<br />
<h2>Add Dish!</h2>

<form method="POST" action="{% url 'add_dish' restaurant.id %}" enctype="multipart/form-data">
{% csrf_token %}
Name:
<br />
<input type="text" name="dname" />
<br />
Price:
<br />
<input type="number" name="price" />
<br />

<br />
<input class="btn btn-warning" type="submit" value="Add Dish" />
</form>

{% endblock %}
