{% extends 'base.html' %}

{% block content %}

<div class="row">
  <div class="col-5">
    <a href="{{restaurant.url}}"><h2>{{restaurant.name}}</h2></a>
  </div>
</div>

<div class="row">
  <div class="col-5">
    <a href="javascript:{document.getElementById('like').submit()}"><button class="btn btn-danger btn-lg"><span class="iconic iconic-heart" title="heart" aria-hidden="false"></span>Like! {{restaurant.likes}}</button></a>
  </div>
</div>

<form id="like" method="POST" action="{% url 'like' restaurant.id %}">
  {% csrf_token %}
  <input type="hidden">
</form>

{% endblock %}
